#navbar {
    position:fixed;
    border: 5px solid black;
    width: 98%;
    text-align: right;
    display: inline;
}

#welcome-section {
    height: 100%;
}

#navbar a {
   display: inline; 
}



 #navbar form{
    width: 250px;
    margin-left:15px; 
    display: inline;
 }

